<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-repeat: no-repeat; background-size: cover;" background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsgFgDvszGgH90XiZIsQOyUu0qdNrZCE9APw&usqp=CAU">
<div>
    <nav class="navbar bg-primary navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
         <span></span> 
         <h2> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnciHudGfHIWnoNqT-LE2sUXSvHvigfe9Olw&usqp=CAU" width="100" height="60" style="border-radius:200px  ;"><b >  Weather-App </b></h2>
          </a>
        </div>
        
      </nav>
    </div>
    <center>
  <div style="margin-top: 200px; background-color: gray ; width: max-content ; padding: 30px;align-items: center; border-radius: 20px;">
    <div style="width: 600px; height: 500;border-style: dashed; padding: 30px;" >

      <fieldset >
         <form action="/" method="POST" autocomplete="off" >
           <label style="font-size: 30px;color: aliceblue;">Enter Name Of City:</label><br><br>
           <input  name="city" id="city" type="text" placeholder="eg. Pune, Mumbai" required style="height: 50px; width: 100%; "><br><br>
            <input type="submit" value="Get Weather" id="submit" style="width: 300px; height: 50px;color:black; font-size: 20px; border-radius: 50px;background-color: blanchedalmond;">
          
         </form>
         <br>
         <% if (weather != null) { %>
          <p style="color: white;font-size: 30px;"><%= weather %> </p>
          
         <% } %>
         <% if (error !=null) { %>
          <p style="color: white;font-size: 30px;"><%= error %></p> 
         
        <% } %>
      </fieldset>

    </div>

  </div>
</center>
      

</body>
</html>
